classes/
build/
target/
.jruby
.sass-cache
.idea
.gradle/
.grunt/
out/
*.iml
*.ipr
*.iws
.*.xls#
.*.xlsx#
target/
Loki-*.log.gz
*.DS_Store
jmeter.log
src/main/webapp/css/*.css
isolation-output.txt
archive/
test-output
.classpath
.project
bin/
.settings/
_*SpecRunner.html

# ignores for headless driver
screenshots/
phantomjsdriver.log
dump/
*.ids
src/main/webapp/coverage/
src/main/webapp/bower_components/
src/main/webapp/node_modules/
src/main/webapp/app/dist/
src/main/webapp/e2eResults/
npm-debug.log
null/
.gradletasknamecache